<div class="product">
    <div class="product-header">
        <img class="product-image" src={{product.imageUrl}}>
        <div class="product-meta">
            <span class="product-price">{{(product.price / 100)}} €</span>
            <span class="product-stock">Stock : {{product.stockQty}}</span>
            <button class="button-add">Ajouter au panier</button>
        </div>
    </div>
    <span class="product-name">{{product.name}}</span>
    <p class="product-description">{{product.description}}</p>
</div>